.form__text {
    margin-bottom: 70px;
    width: 100%;
}

input[type=text],
input[type=password] {
    all: unset;
    background-color: var(--secondary-color-1);
    border: 2px var(--secondary-color-3) solid;
    border-radius: 7px;
    box-sizing: border-box !important;
    padding: 10px;
    width: 100%;
}

.times-picker {
    all: unset;
    background: var(--secondary-color-1);
    border: 2px solid var(--secondary-color-3);
    border-radius: 10px;
    color: var(--secondary-color-4);
    display: block;
    width: 80% !important;
}

.times-picker::before {
    color: #9d9d9d;
    margin-right: .6em;
}

.times-picker-wrapper:nth-of-type(1) .times-picker::before{
    content: 'Time 1:';
}

.times-picker-wrapper:nth-of-type(2) .times-picker::before{
    content: 'Time 2:';
}

.times-picker-wrapper:nth-of-type(3) .times-picker::before{
    content: 'Time 3:';
}

.times-picker-wrapper:nth-of-type(4) .times-picker::before{
    content: 'Time 4:';
}


.remove-icon{
    margin-left: 1rem;
    width: 2rem;
}

.schedule{
    background: var(--secondary-color-3);
    border-radius: 5px;
    color: var(--secondary-color-1);
    font-weight: bold;
    margin-top: 1rem;
    padding: 5px 0;
    text-align: center;
}

@media only screen and (max-width: 576px) {

    .center-element {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}