.center-element{
    padding: 0 !important;
}


.profile-container{
    height: 270px;
    width: 100%;

}

.circle{
    align-items: center;
    background-color: var(--secondary-color-1);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
}

.circletwo{
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    height: 140px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 140px;
}

.circletwo img{
    display: block;
    width: 100% !important;
}

.detail-container{
    background-color: #EEF1F6;
    width: 80%;
    /* height: 230px; */
}