.form__text {
    margin-bottom: 70px;
    width: 100%;
}

input[type=text],
input[type=password] {
    all: unset;
    border: 2px var(--secondary-color-3) solid;
    border-radius: 7px;
    box-sizing: border-box !important;
    padding: 10px;
    width: 100%;
}

button[type=button] {
    all: unset;
    background: var(--main-color-3);
    border-radius: 7px;
    box-sizing: border-box;
    color: var(--secondary-color-1);
    font-weight: 600;
    padding: 10px;
    text-align: center;
    width: 40%;
}

a {
    color: var(--secondary-color-4);
    text-decoration: none;
}

@media only screen and (max-width: 576px) {

    input[type=text],
    input[type=password] {
        border: 1px var(--secondary-color-3) solid;
    }
}