<h6 class="mb-2 mt-4 fw-regular">Box ID</h6>
<form>
    <input type="text" placeholder="Box ID" class="mb-4">
</form>
<h6 class="mb-2 fw-regular">Bracelet ID</h6>
<form>
    <input type="text" placeholder="Bracelet ID" class="mb-4">
</form>
<button type="button" class="d-block mt-1">Submit</button>