<div class="mb-5">
    <div class="text-center mb-5">
        <h4 class="fw-regular">Your Body Temperature</h4>
    </div>
    <div class="circle">
        <div class="circletwo">
            <div class="text-center">
                <h1 class="fs-1 fw-bold" id="temp">~</h1>
            </div>
        </div>
    </div>
</div>
<div class="box-container d-flex flex-wrap justify-content-between mb-5" id="container"> 

</div>